<h2>Here is your Review:</h2>
<p>Review Title: <%= @review.title %></p>
<p>Meal: <%= @review.meal %></p>
<p>Location: <%= @review.location %></p>
<p>Date: <%= @review.date %></p>
<p>Details: <%= @review.body %></p>

<% if @review.user == current_user %>
    <a href='/reviews/<%= @review.id %>/edit'><button>Edit this Review</button></a><br><br>

    <form method="POST" action="/reviews/<%= @review.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Review">
    </form>
    <br>

<% end %>